//
//  AppConfigs.xcconfig
//  MyNTORewards
//
//  Created by Leon Qi on 5/23/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// App version number (1.0.0, 1.0.1, etc.)
MARKETING_VERSION = 0.3.2

// Build version number (1, 2, 3, etc.)
CURRENT_PROJECT_VERSION = 1
