//
//  TestConfig.xcconfig
//  MyNTORewards
//
//  Created by Leon Qi on 5/18/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

USERNAME = YOUR_TEST_USERNAME
PASSWORD = YOUR_TEST_PASSWORD
EMPTYPROMOTIONUSERNAME  =
EMPTYPROMOTIONPASSWORD  =
