<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717252004651-9acqsd80im0idhtdhgod6c9blinb1hak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717252004651-9acqsd80im0idhtdhgod6c9blinb1hak</string>
	<key>API_KEY</key>
	<string>AIzaSyARitMtgts3WpyVUWAKkeYm6okkbE4OD4s</string>
	<key>GCM_SENDER_ID</key>
	<string>717252004651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.salesforce.loyalty.mobile.LoyaltySwiftApp</string>
	<key>PROJECT_ID</key>
	<string>loyalty-management-sandbox</string>
	<key>STORAGE_BUCKET</key>
	<string>loyalty-management-sandbox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:717252004651:ios:b276f585709ab5bec0936e</string>
</dict>
</plist>
